*  {
    transition: 3s all;
 }
body {
    background: url('https://images.unsplash.com/photo-1516410529446-2c777cb7366d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') center center/cover no-repeat;
    
}
.green {
    color: greenyellow;
}
::selection {
    background: greenyellow !important;
    color: black !important;
}
a{ 
    color: greenyellow !important;
}
.btn {
    background: black !important;
    border: 2px solid greenyellow !important;
}
.card {
    background: black;
    color: greenyellow !important;
}
input {
    background: black !important;
    border: 2px solid greenyellow !important;
    color: greenyellow !important;
}
.badge {
    background: greenyellow !important;
    color: green !important;
}
.navbar {
    background: #333 !important;
    
}
h1, h2, h3 {
    color: greenyellow;
}
h3 {
    background: black;
    padding: 2rem;
}
p {
    color: greenyellow !important;
}
.list-group {

 color: black !important;
}
.list-group-item {
    background: black;
    color: greenyellow;
}
footer {
    background: #333 !important;
    color: greenyellow !important;
}